WSDLs/dbRoles.wsdl

<wsdl:definitions
     name="dbRoles"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/TPSoaMediator/MediatorCRUD/dbRoles"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/TPSoaMediator/MediatorCRUD/dbRoles"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbRoles"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="dbRoles_plt" >
    <plt:role name="dbRoles_role" >
      <plt:portType name="tns:dbRoles_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbRoles" schemaLocation="../Schemas/dbRoles_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="dbRolesSelect_inputParameters">
        <wsdl:part name="dbRolesSelect_inputParameters" element="top:dbRolesSelectInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:RolesPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="RolesCollection_msg">
        <wsdl:part name="RolesCollection" element="top:RolesCollection"/>
    </wsdl:message>
    <wsdl:portType name="dbRoles_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:RolesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:RolesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:RolesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:RolesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="dbRolesSelect">
            <wsdl:input message="tns:dbRolesSelect_inputParameters"/>
            <wsdl:output message="tns:RolesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:RolesCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
